<div class="container">
  <h1 class="text-center t_blue">Dados do voo</h1>
  <div class="card shadow-lg custom-card border-0">
    <div class="card-body">
      <div class="container-consulta-pedido-texto">
        <h6 class="consulta-pedido-phrase card-subtitle">
          Confira os dados do voo escolhido:
        </h6>
      </div>

      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Origem</th>
            <th>Destino</th>
            <th>Data/hora</th>
            <th>Preço do Assento</th>
          </tr>
          <tr>
            <td> {{vooSelecionado.aeroportoOrigem}} </td>
            <td> {{vooSelecionado.aeroportoDestino}} </td>
            <td> {{vooSelecionado.dataHora}} </td>
            <td> {{vooSelecionado.valorPassagemReais}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card shadow-lg custom-card border-0">
    <div class="card-body">
      <h6 class="consulta-pedido-text assentos">Informe quantos assentos deseja reservar</h6>
      <div class="dadosreserva">
        <div class="col-md-6 reserva-assentos">
          <label for="qntd" class="label-size">Quantidade:</label>
          <input type="number" class="form-control" id="qntd" #quantidade min="1" max="100" value="1" />
          <a href="#" title="Reservar" class="btn btn_blue">
            <i class="fa fa-edit" aria-hidden="true"></i> Reservar
          </a>

        </div>


      </div>
      <table class="table table-hover tabela2">
        <tbody>
          <tr>
            <th>Valor total</th>
            <th>Milhas necessárias</th>
          </tr>
          <tr>
            <td> teste</td>
            <td> teste </td>
          </tr>
        </tbody>
      </table>
      <h6 class="consulta-pedido-text assentos">Informe quantas milhas ira usar no pagamento</h6>
      <div class="col-md-6 reserva-assentos">
        <label for="qntd" class="label-size">Milhas:</label>
        <input type="input" class="form-control" id="qntd" #quantidade min="1" max="100" value="1" />
        <a href="#" title="Reservar" class="btn btn_blue">
          <i class="fa fa-edit" aria-hidden="true"></i> Pagar
        </a>

      </div>
    </div>
  </div>