<div class="container">
  <h5 class="t_blue text-center">Extrato de milhas</h5>

    <div class="container-table">
      <table class="table table-hover">
        <tbody>
        <tr>
          <td>Quantidade atual de milhas</td>
          <td>{{ totalMilhas }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h5 class="custom-header-text">Transações de milhas</h5>
    <div class="container-table">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Dia/Hora</th>
          <th>Tipo</th>
          <th>Quantidade de milhas</th>
          <th>Descrição</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let milha of milhas">
          <td>{{ milha.dataHoraTransacao | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ milha.tipoTransacao }}</td>
          <td>{{ milha.quantidadeMilhas }}</td>
          <td>{{ milha.descricao }}</td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
